html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 20px;
    font-size: 13px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
}

.el-table,
.tree-table {
    margin-top: 15px;
}

.el-scrollbar__wrap {
    height: 300px !important;
}
.el-tag {
    margin-right: 10px;
}
.input-new-tag {
    width: 200px !important;
    margin-left: 10px;
    vertical-align: bottom;
}
.el-steps {
    margin: 15px 0;
}
.el-step__title {
    font-size: 13px;
}